body{
    padding: 0;
    margin: 0;
    background-color: #E9E5D6; 
    font-family: 'Noto Sans JP', sans-serif;
}


form{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 500px;
}

.title{
    border-bottom: solid;
    border-width: thin;
}

.form-intro{
    position: relative;
    font-weight: 100;
    font-size: 12px;
}

input{
    width: 200px;
    height: 30px;
    margin-top: 20px;
    border-style: none;
    border-radius: 5px;
}

.sub-button{
    position: relative;
    width: 120px;
    height: 30px;
    font: bold 15px;
    border-style: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.main-container{
    position: absolute;
    width: 600px;
    height: 700px;
    background-color: #ACB992;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 10px 10px 8px rgba(70, 61, 61, 0.2),
                -10px -10px 8px rgba(255, 255, 255, 0.2);
}


