<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/signup.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
    <title>Sign Up</title>
</head>
<body>
    <div class="main-container">
        <div class="title">
            <h1>Sign up to sharedLife</h1>
        </div>
        <div class="message">
            <p class="form-intro">Please enter your details to sign up to sharedLife</p>
        </div>
        <div class="sign-up-form">
            <form method="post" th:action="@{/pSignUp}" th:object="${user}" autocomplete="off">
                <input type="text" th:field="*{userName}" placeholder="Username"> <br>
                <input type="text" th:field="*{userPassword}" placeholder="Password"> <br>
                <input type="text" th:field="*{email}" placeholder="myEmailAdress@email.com"> <br>
                <input type="text" th:field="*{userDOB}" placeholder="ddmmyyyy"> <br>
                <input type="text" th:field="*{userGen}" placeholder="Gender"> <br>
                <input type="text" th:field="*{userNickName}" placeholder="Your preferred nickname"> <br>
                <input class="sub-button" type="submit" value="Sign Up">
            </form>
        </div>
    </div>
</body>
</html>